<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834381607821-mq92fjbp0bv1s0dktl9eaasgrvdjr9lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834381607821-mq92fjbp0bv1s0dktl9eaasgrvdjr9lg</string>
	<key>API_KEY</key>
	<string>AIzaSyC9NsgNipASj-9_9swlVEk4ZOvIzCvAW-0</string>
	<key>GCM_SENDER_ID</key>
	<string>834381607821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patile</string>
	<key>PROJECT_ID</key>
	<string>patilefiredb</string>
	<key>STORAGE_BUCKET</key>
	<string>patilefiredb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834381607821:ios:31577ae59152f423b603c4</string>
</dict>
</plist>